    * {
        /*reset trang web*/
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        margin: 20px auto;
    }

    /* Header */
    .texttop{
        background-image: url(../images/banner.jpg);
        width: 100%;
        height: 570px;
    }
    .textim{
        color: aliceblue;
        text-align: center;
        padding-top: 120px;
    }
    .navbar ul li{
        list-style: none;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    .navbar li{
        display: inline-block;
        border-right: 1px solid rgb(217, 208, 208);
        padding-left: 20px;
        padding-right: 20px;
        
        
    }
    .menu .menu1{
        text-align: center;
        padding-right: 30px;
    }
    .navbar .li1{
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .navbar .li2{
        padding-top: 40px;
        padding-bottom: 15px;
        border-right: 1px solid rgb(217, 208, 208);
        padding-right: 20px;
    }
    .navbar{
        margin-left: 20%;
    }
    .target{
        display: grid;
        grid-template-columns: 50% 50%;;
    }
    .target ul li{
        list-style: none;
    }
    
    .target {
        display: grid;
        /* kiểu hiện thì grid*/
        grid-template-columns: 50% 50%;
        /*kích cỡ của cột*/
        margin-top: -5px;
    }

    .target .target1 {
        background-color: aliceblue;
    }

    .target .target2 ul li {
        list-style: none;
    }

    .target .target2 {
        background-color: rgb(216, 235, 252);
    }

    .target1 .tg1 {
        margin-left: 200px;
        padding-bottom: 20px;
        padding-top: 50px;
        
    }

    .target1 .tg2 {
        margin-left: 200px;
        margin-right: 35px;
    }

    .target2 .tg3 {
        margin-left: 30px;
        margin-bottom: 20px;
        padding-top: 50px;
    }

    .target2 .tg4 {
        margin-left: 30px;

    }

    .target2 ul li {
        margin-top: 10px;
    }

    .target2 .icon {
        margin-left: 30px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .target2 a:hover{
        /*tương tác của chuột với thẻ a*/
        color: red;
    }

    .icon a:hover{
        color: red;

    }

    /* main */
    .info {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        /*tạo 3 cột giống nhau*/
        gap: 30px;
        margin-left: 15%;
        margin-top: 50px;
    }

    .title {
        display: grid;
        grid-template-columns: 75% 25%;
        margin-left: 20px;
        padding: 20px 0px;
    }

    #icon1 {
        font-size: 35px;
        color: rgb(231, 164, 84);
    }

    .exp {
        border: 1px solid black;
        /*tạo viền*/
    }

    .exp .title1 {
        display: inline-block;
    }

    .exp .p1 {
        display: inline-block;
    }

    .exp .p2 {
        font-size: 12px;
        margin-left: 40px;
    }

    .exp .ndexp {
        margin-left: 40px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .exp .s4 {
        background: #199cdb;
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        width: 10px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .skill {
        border: 1px solid black;
    }

    .nd {
        margin-left: 20px;
    }

    .skill .s1 {
        /*tạo thang level*/
        background: #199cdb;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        margin-bottom: 8px;
    }

    .skill .s2 {
        /*tạo thang level*/
        background: gray;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        margin-bottom: 8px;
    }

    .skill .s3 {
        /*tạo thang level*/
        background: gray;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        margin-bottom: 8px;
    }

    .language {
        border: 1px solid black;
    }

    .language .s1 {
        /*tạo thang level*/
        background: #199cdb;
        display: inline-block;
        /* sắp xếp các khối cùng hàng*/
        height: 2px;
        margin-right: 10px;
        width: 45px;
        margin-bottom: 8px;
    }

    .language .s2 {
        /*tạo thang level*/
        background: gray;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        margin-bottom: 8px;
    }

    .language .s3 {
        /*tạo thang level*/
        background: gray;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        margin-bottom: 8px;
    }

    .action {
        border: 1px solid black;
    }

    .action .title1 {
        display: inline-block;
    }

    .action .p1 {
        display: inline-block;
    }

    .action .p2 {
        font-size: 12px;
        margin-left: 40px;
    }

    .action .ndexp {
        margin-left: 40px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .action .s4 {
        background: #199cdb;
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        width: 10px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .study {
        border: 1px solid black;
    }

    .study .title1 {
        display: inline-block;
    }

    .study .p1 {
        display: inline-block;
    }

    .study .p2 {
        font-size: 12px;
        margin-left: 40px;
    }

    .study .ndexp {
        margin-left: 40px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .study .s4 {
        background: #199cdb;
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        width: 10px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .like {
        border: 1px solid black;
    }

    .like #ms {
        color: #199cdb;
        display: flex;
        /* kiểu sắp xếp flex*/
        align-items: center;
        width: 35px;
        height: 30px;
        margin-left: 8px;
    }

    .like .bo {
        width: 35px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid;
        color: #199cdb;
        margin-left: 10px;
    }

    .like #gm {
        color: #199cdb;
    }

    .like .fv {
        display: inline-block;
    }

    .like .ms {
        display: inline-block;
        text-align: center;
        margin-left: 20px;
    }


    .cc {
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: rgb(233, 227, 227);
        margin-top: 50px;
    }

    .cc .cctitle {
        grid-column: 1 / -1;
        /* dữ liệu chiếm 1 ô và biết bảng đó thành 1 hàng*/
        padding-top: 50px;
        margin-bottom: 50px;
        padding-left: 15%;

    }

    .cc .ccimg img {
        width: 150px;
        height: 100px;
    }

    .cc .ccimg {
        display: inline-block;
    }

    .cctext {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
    }

    .ccname .pcc {
        text-transform: uppercase;
        /*chuyển chữ thường thành hoa*/
    }

    .ccdb {
        grid-column: 1/ -1;
        padding-top: 30px;
        border-top: 2px solid #d6c08d;
        padding-bottom: 30px;
        margin-left: 15%;
        margin-right: 85px;
    }

    .ccwb {
        margin-bottom: 30px;
        border-right: 2px solid #d6c08d;
        padding-left: 30%;
    }

    .ccjs {
        margin-left: 10px;
    }

    .ccname {
        margin-bottom: 10px;
    }


    .duan {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 20px;
        margin-left: 15%;
        margin-top: 50px;
    }

    .duan img {
        width: 100%;
        height: 400px;
    }

    .duan h2 {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }

    .duan .duantitle p {
        text-transform: uppercase;
        font-weight: bold;
        /*nhấn mạnh chữ*/
        margin-top: 20px;
        padding-bottom: 20px;
        margin-left: 10px;
    }

    .duan .duantitle {
        border: 1px solid rgb(220, 215, 215);
        margin-top: -5px;
        margin-right: 1px;
        width: 100%;
    }

    .duan .year {
        display: inline-block;
        margin-top: 20px;
        padding-bottom: 20px;
        border-radius: 45%;
        width: 40px;
        height: 0px;
        text-align: center;
        background-color: rgb(142, 142, 239);
        margin-left: 20px;
    }

    .duanyear {
        display: inline-block;
        border: 1px solid rgb(220, 215, 215);
        padding-right: 77px;
        padding-bottom: 15px;
        margin-top: -1px;
        width: 100%;
    }

    .duan .funix {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 10px;
        margin-right: 10px;
    }

    .duan .develop {
        display: inline-block;
    }

    .duan #iconduan {
        display: inline-block;
        color: #c8a3a3;
    }

    .duan .textfu {
        display: inline-block;
    }

    .duan .duantable {
        width: 100%;
        border: 1px solid rgb(220, 215, 215);

    }

    .duan .duantable th {
        width: 95px;
        text-align: left;
        vertical-align: top;
        padding-left: 5px;
        padding-top: 5px;
    }

    .duan .duantable td {
        vertical-align: top;
        padding-top: 5px;
    }

    .mt1 {
        height: 70px;
    }

    .nv1 {
        height: 50px;
    }

    .cn1 {
        height: 74px;
    }

    .mt2 {
        height: 85px;
    }

    .nv2 {
        height: 50px;
    }

    .cn2 {
        height: 50px;
    }

    .mt3 {
        height: 85px;
    }

    .nv3 {
        height: 50px;
    }

    .cn3 {
        height: 70px;
    }

    /*footer*/
    footer {
        background-color: aliceblue;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        margin-top: 50px;
    }

    .end1 {
        display: inline-block;
        margin-right: 20px;
    }

    .end2 {
        display: inline-block;
        margin-right: 20px;
    }

    .end3 {
        display: inline-block;
    }

    #iconfooter {
        display: inline-block;
        color: blue;
        margin-right: 5px;
    }

    .textfooter {
        display: inline-block;
    }

    .end a {
        text-decoration: none;
        /*bỏ gạch chân thẻ a*/
        color: rgb(182, 172, 172);
    }

    .end a:hover,
    a:active {
        color: red;
    }
    .container{
        display: grid;
        grid-template-columns: 45% 24% 24%;
        gap: 2%;
        font-size: small;
        height: auto;
        margin-top: 30px;
        grid-template-areas:
            "goals member timeline"
            "scope primary timeline"
        ;
    }
 .goals{
        background-color: aliceblue;
        height: auto;
        grid-area: goals;
    }
    .goals .nd{
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .goals .icon{
        font-size: 27px;
        align-items: center;
        margin-left: 30%;
        margin-top: 10%;
    }
    .goals .icon1{
        font-size: 27px;
        align-items: center;
        margin-left: 30%;
        margin-top: 10%;
    }
    .goals .icon2{
        font-size: 27px;
        align-items: center;
        margin-left: 30%;
        margin-top: 10%;
    }
    .goals .p2{
        margin-top: -20px;
    }
    .member{
        background-color: aliceblue;
        grid-area: member;
        height: auto;
    }
    .timeline{
        background-color: aliceblue;
        grid-area: timeline;
        height: auto;
    }
    .scope{
        background-color: aliceblue;
        grid-area: scope;
        height: auto;
    }
    .primary{
        background-color: aliceblue;
        grid-area: primary;
        height: auto;
    }
    .container h4{
        border-bottom: 1px solid rgb(200, 193, 193);
        margin-left: 3%;
        color: blue;
    }
    .scope .nd{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .member .t1{
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .member .icon{
        margin-left: 20%;
        margin-top: 10%;
        font-size: 22px;
    }
    .timeline .t1{
        display: grid;
        grid-template-columns: 20% 80%;
        border-bottom: 1px dotted;
    }
    .timeline .icon{
        margin-left: 35%;
        margin-top: 15%;
        font-size: 22px;
        border-radius: 50%;
        background-color: blanchedalmond;
        height: 40%;
        text-align: center;
    }
    .scope .nd{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .in{
        margin-right: 30px;
    }
    .out{
        margin-left: 30px;
    }
    .primary .nd{
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .primary .icon{
        margin-top: 20%;
        font-size: 27px;
    }
    div.container{
        background-color: blue;
        padding-top: 20px;
        padding-bottom: 20px;
    }


